.homePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.logo {
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #CB1B45;
  filter: url(#roundedOutline);
  animation: growShrink 1.5s infinite alternate;
  perspective: 500px;
}



@keyframes growShrink {
  0% {
      transform: scale(1) rotateX(0deg);
  }
  100% {
      transform: scale(1.2) rotateX(20deg);
  }
}
