* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
}

ul#board {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(0,0,0,0.6);
}

ul#board li {
  border-radius: 50%;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul#board li.red {
  background-color: #CB1B45;
}

ul#board li.blank {
  background-color: #eee;
}

img {
  z-index: 200;
  height: 60px;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  display: none;
  animation-name: shoot;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#board li img {
  z-index: 2;
  position: relative;
}

@keyframes shoot {
  0% {
    left: -180px;
    top: 45px;
  }
  50% {
    top: 30px;
  }
  100% {
    left: 10%;
    top: 35px;
  }
}

/* Media query for screens with max width of 768px (common breakpoint for tablets and smaller) */
@media only screen and (max-width: 768px) {
  ul#board {
      margin: 0 auto; /* This can help center block-level elements */
      position: static; /* This removes the 'relative' positioning which may affect centering */
  }

  /* Depending on your layout, you may also want to provide some top/bottom margin for spacing */
  ul#board {
      margin-top: 90px; /* Adjust as needed */
      margin-bottom: 20px; /* Adjust as needed */
  }
}
